a{text-decoration:none;}
.gray-bg {
    background:url(../images/404bg.jpg) no-repeat;
    background-attachment:fixed;
    color:#676a6c;
    position: absolute;
    background-size: 100% auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
}
.text-center {
    text-align: center;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 100;
}
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 175px;
}

.middle-box h1 {
    font-size: 170px;
    margin:0;
    font-weight:100;
}
.font-bold {
    font-weight: 600;
    margin:40px 0 20px 0;
}
.operation{
    color:#676a6c;
}
.operation .lianjie{
    width:230px;
    margin:auto;
    padding:0 85px;
    margin-bottom:30px;
}
.operation a{
    height:25px;
    line-height:25px;
    color:#676a6c;
}
.operation img,.operation div{
    float:left;
}
.operation a img{
    margin:-2px 5px 0 15px;
}
.form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
}
.form-control{
    background-color: #fff;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}
.btn-primary {
    background-color: #1ab394;
    border-radius: 3px;
    border-color: #1ab394;
    color: #fff;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
}
.btn-primary {
    background-color: #1ab394;
    border-color: #1ab394;
    color: #fff;
}
.btn {
    border-radius: 3px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}




