.panel {
  padding: 20px;
  border-radius: 2px;
  border: 0;
  -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}
.table-ui1 {
  line-height: 1;
  margin-bottom: 20px;
  width: 100%;
}
.table-ui1 .table-col-1 {
  width: 50%;
}
.table-ui1 .table-col-2 {
  width: 30%;
}
.table-ui1 .table-col-3 {
  width: 20%;
}
.table-ui1 a {
  color: #0096c4;
}
.table-ui1 a:hover {
  color: #48b6d7;
}
.table-ui1 thead {
  border-bottom: 2px solid #e9eaed;
}
.table-ui1 thead th {
  padding: 10px;
}
.table-ui1 tbody td {
  border-bottom: 1px solid #e9eaed;
  line-height: 1.5em;
  padding: 15px 10px;
}
.table-ui1 tbody tr:hover {
  background: #effcff none repeat scroll 0 0;
}
.table-ui1 tbody tr:hover .delete {
  visibility: visible;
}
.table-ui1 .btn-sm {
  color: #444;
  float: left;
  margin-right: 10px;
}
.table-ui1 .delete {
  color: #ccc;
  cursor: pointer;
  float: right;
  line-height: 28px;
  visibility: hidden;
}
.table-ui1 .delete:hover {
  color: #ff595f;
}
.table-ui1 .delete::after {
  font-size: 18px;
}
.table-ui1 .delete-all {
  float: right;
}
.table-ui1 .pic,
.table-ui1 .file,
.table-ui1 .pack {
  border-radius: 100%;
  color: #fff;
  float: left;
  height: 35px;
  line-height: 35px;
  margin-right: 10px;
  text-align: center;
  width: 35px;
}
.table-ui1 .pic::after,
.table-ui1 .file::after,
.table-ui1 .pack::after {
  color: #fff;
  content: "";
  font-family: "kf5-set";
  font-size: 15px;
}
.table-ui1 .pic {
  background: #00b5ef none repeat scroll 0 0;
}
.table-ui1 .file {
  background: #ffa900 none repeat scroll 0 0;
}
.table-ui1 .pack {
  background: #7ed321 none repeat scroll 0 0;
}
.table-ui1 .file-name {
  margin-bottom: 8px;
}
.table-ui1 .file-name span {
  color: #999;
  font-size: 12px;
}
.table-ui1 .file-name + p {
  color: #999;
  font-size: 12px;
}
.table-ui1 .file-name + p a {
  margin-left: 5px;
}
.table-ui1 .author {
  margin-bottom: 8px;
}
.table-ui1 time {
  color: #999;
  font-size: 12px;
}
