/**
 * 通用样式，用于Input form panel等小件样式定义
 */
html {
  height: 100%;
}
html body {
  height: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Microsoft YaHei Light", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
label {
  font-size: 14px;
  color: #333;
}
.red {
  color: #ff595f;
}
.red0 {
  background: #ff595f;
  color: #fff;
}
.blue {
  color: #21b1d3;
}
.blue0 {
  background: #21b1d3;
  color: #fff;
}
.yellow {
  color: #FFFD00;
}
.green {
  color: #21d376;
}
.green0 {
  background: #21d376;
  color: #fff;
}
.primary {
  color: #009688;
}
.orange {
  color: #ff9713;
}
.orange0 {
  background: #ff9713;
  color: #fff;
}
.purple {
  color: #9e5ae3;
}
.purple0 {
  background: #9e5ae3;
  color: #fff;
}
.gray {
  color: #696969;
}
.gray0 {
  background: #696969;
  color: #fff;
}
#alert-box {
  width: 600px;
  position: fixed;
  top: 70px;
  left: 50%;
  margin-left: -300px;
  z-index: 20000;
}
#alert-box .alert {
  margin-bottom: 10px;
  transition: all 0.5s;
}
.tip-content {
  min-width: 300px;
  width: 350px;
  height: auto;
  font-size: 12px;
  line-height: 1;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
}
.tip-content .panel-heading {
  position: relative;
}
.tip-content .panel-heading .tip-order-state {
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  border-radius: 2px;
  vertical-align: middle;
  text-align: center;
}
.tip-content .panel-heading .tip-order-state.red {
  color: #fff;
  background: #ff595f;
}
.tip-content .panel-heading .tip-order-state.blue {
  color: #fff;
  background: #21b1d3;
}
.tip-content .panel-heading .tip-order-state.green {
  color: #fff;
  background: #21d376;
}
.tip-content .panel-heading .tip-order-state.orange {
  color: #fff;
  background: #ffa900;
}
.tip-content .panel-heading .tip-order-state.purple {
  color: #fff;
  background: #9e5ae3;
}
.tip-content.panel {
  margin-bottom: 0;
}
.tip-content.panel .container-fluid {
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
}
.tip-content.panel .container-fluid .row {
  line-height: 1.5;
}
.tip-content.panel .container-fluid:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.tip-content.panel .panel-body {
  padding: 10px 0;
}
input[type=checkbox] {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 2px;
  border: 1px solid #ced6d8;
  background: #fff;
  display: inline-block;
  outline: none;
  position: relative;
  top: 2px;
  font-family: "fontawesome";
}
input[type=checkbox]:hover {
  border-color: #a6aeb0;
}
input[type=checkbox]:focus {
  outline: none;
}
input[type=checkbox]:checked {
  border-color: #ff595f;
  background: #ff595f;
}
input[type=checkbox]:checked::after {
  content: "\f00c";
  color: #fff;
  line-height: 14px;
  width: 14px;
  font-size: 12px;
  position: absolute;
}
.file-upload-btn {
  position: relative;
  direction: ltr;
  overflow: hidden;
}
.file-upload-btn input {
  cursor: pointer;
  text-align: right;
  z-index: 10;
  font-size: 118px;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.page {
  font-size: 14px;
  padding: 40px;
  background: #fff;
}
.panel-wrap {
  padding: 40px;
}
.btn:focus {
  outline: none !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-color: #19c6a7;
  border-color: #1aceaa;
  color: #fff;
}
.btn-link {
  border: 1px solid rgba(255, 255, 255, 0);
}
.btn.active,
.btn-link:active {
  box-shadow: none;
  color: #21d376;
}
a:hover {
  text-decoration: none;
}
a,
select,
input[type=checkbox] {
  cursor: pointer;
}
.highcharts-data-labels tspan {
  text-shadow: none;
}
.part-header {
  position: absolute;
  top: 0;
  z-index: 98;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #e2eaec;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}
.part-header .sidebar {
  padding-right: 20px;
  font-size: 16px;
  /*        a{
					width:16px;
					height:16px;
					border-radius: 50%;
					background:#36d5ac;
					color:#fff;
					padding:1px 5px;
					font-size:10px;
					margin-left:5px;
				}*/
}
.part-header .operation-link {
  float: right;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
}
.modal-dialog {
  margin: 80px auto;
}
.modal-body .form-horizontal .form-group {
  margin: 0;
}
.modal-footer .btn.btn-primary {
  margin-right: 30px;
}
.form-group {
  margin-top: 5px;
  margin-bottom: 0;
  position: relative;
}
.form-group label a {
  position: absolute;
  right: 0;
  color: inherit;
}
.form-group label.control-label {
  color: #646464;
  word-break: break-all;
  padding-right: 0;
  padding-left: 0;
}
.timeline-item .date i {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  width: 30px;
  text-align: center;
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
  border-left: 1px solid #e7eaec;
  background: #f8f8f8;
}
.timeline-item .date {
  text-align: right;
  width: 110px;
  position: relative;
  padding-top: 30px;
}
.timeline-item .content {
  border-left: 1px solid #e7eaec;
  border-top: 1px solid #e7eaec;
  padding-top: 10px;
  min-height: 100px;
}
.timeline-item .content:hover {
  background: #f6f6f6;
}
.navbar .dropdown-menu li > a,
.navbar.navbar-default .dropdown-menu li > a {
  font-size: 14px;
  padding: 8px 10px;
}
.navbar.navbar-default {
  height: 40px;
  min-height: 40px;
}
.navbar .navbar-nav > li > a {
  padding: 12px 20px;
}
.navbar .navbar-nav > li > a:hover {
  border: none;
  color: #fff;
}
a,
a:hover,
a:focus {
  color: #337ab7;
  text-decoration: none;
}
.note-editor .btn.btn-sm {
  padding: 4px 8px;
}
.support-btn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  max-width: 150px;
  min-width: 60px;
  color: #fff;
  background: #fabd16;
  height: 40px;
  line-height: 40px;
  padding: 0 20px 0 42px;
  border-radius: 40px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.support-btn:before {
  content: '?';
  background: #fff;
  color: #fabd16;
  height: 20px;
  line-height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: bolder;
  left: 15px;
}
.modal-content .modal-body + .modal-footer {
  padding: 15px;
}
.loading-box {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  display: block;
  z-index: 20000;
}
.sk-spinner-three-bounce.sk-spinner {
  margin: 0 auto;
  width: 70px;
  text-align: center;
}
.sk-spinner-three-bounce div {
  width: 18px;
  height: 18px;
  background-color: #1ab394;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.sk-spinner-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.sk-spinner-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes sk-threeBounceDelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.note-editor.panel {
  box-shadow: none;
}
a.unfold {
  color: #9C9C9C;
  display: block;
}
a.unfold:hover {
  color: #0096c4;
}
.timeInputGroup .input-group-btn {
  padding-right: 0;
}
.checkbox .checkbox-material {
  vertical-align: top;
}
table {
  table-layout: auto;
}
table th {
  word-wrap: break-word;
  white-space: nowrap;
  word-break: break-all;
}
table td {
  word-wrap: break-word;
  word-break: break-all;
}
.form-group {
  min-height: 30px;
}
.form-control,
.form-control-static {
  font-size: 12px !important;
  color: #333;
}
::-webkit-input-placeholder {
  font-size: 15px !important;
}
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-size: 15px !important;
  line-height: 38px !important;
}
.note-editor {
  overflow: inherit !important;
}
.form-group .help-block {
  z-index: 1000;
}
.uploader {
  padding-left: 0;
}
.uploader .input {
  display: none;
}
.uploader span.uploadBtn {
  display: inline-block;
  padding: 8px 15px;
  background: #009688;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  cursor: pointer;
}
.uploader span.uploadBtn:before {
  font-size: 14px;
  content: '\f093';
  font-family: 'fontawesome';
  margin-right: 5px;
}
.file-list-item {
  width: 155px;
  cursor: pointer;
}
.file-list-item:first-child {
  padding-left: 0;
}
.file-list-item .file-name {
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.file-list-item .deleteBtn {
  color: red;
  display: inline-block;
  width: 20px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  text-align: center;
  vertical-align: top;
}
.pag-box {
  position: relative;
  text-align: right;
}
.pag-box .fl {
  float: left;
}
.pag-box .pag-items {
  margin-right: 10px;
}
.pag-box .pagination {
  vertical-align: middle;
}
.picture-view-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(200, 200, 200, 0.5);
  z-index: 21000;
  display: none;
}
.picture-view-overlay .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: #CCC;
}
.picture-view-overlay .content .close-btn {
  position: absolute;
  right: -30px;
  top: -30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: #fff;
  color: #666;
  border-radius: 50%;
  cursor: pointer;
}
.picture-view-overlay .content img {
  display: block;
  min-height: 200px;
  min-width: 400px;
  max-width: 600px;
  max-height: 500px;
}
.tab .panel-heading {
  padding: 15px 0 0 0 !important;
}
.tab .panel-heading .tab-list {
  padding: 0 15px;
  background: none;
  clear: both;
  margin-bottom: 0;
  border-bottom: 1px solid #e2eaec;
}
.tab .panel-heading .tab-list li {
  display: inline-block;
  position: relative;
  min-width: 80px;
  text-align: center;
}
.tab .panel-heading .tab-list li a {
  color: #374051;
  display: block;
  height: 40px;
  line-height: 40px;
  border: 1px solid transparent;
  border-top: 2px solid transparent;
  position: relative;
  bottom: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.tab .panel-heading .tab-list li.sub-title {
  position: absolute;
  background: #fff;
  border: 1px solid #ced6d8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 5px 0;
  border-radius: 3px;
  display: none;
}
.tab .panel-heading .tab-list li.sub-title a {
  color: #374051;
  display: block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  white-space: nowrap;
  font-size: 14px;
}
.tab .panel-heading .tab-list li.sub-title a:hover {
  background-color: #21d376;
  color: #fff;
}
.tab .panel-heading .tab-list li.active a {
  background: #fff !important;
  border-top-width: 2px !important;
  border-left-width: 1px !important;
  border-right-width: 1px !important;
  border-style: solid !important;
  border-top-color: #21d376 !important;
  border-left-color: #e2eaec !important;
  border-right-color: #e2eaec !important;
}
.nav-tabs li a {
  border-bottom: 2px solid transparent!important;
  background: #ededed;
  color: rgba(0, 0, 0, 0.54) !important;
}
.grid .panel-footer {
  min-height: 50px;
  background: #fff;
}
.timeBox .input-group-btn {
  padding: 0;
}
.input-group.time-input-group {
  display: block;
  position: relative;
}
.input-group.time-input-group input.from-control {
  width: 100%;
  padding-right: 30px;
}
.input-group.time-input-group .input-group-btn {
  padding: 0;
  position: absolute;
  right: 14px;
  bottom: 8px;
}
.input-group.time-input-group .input-group-btn .btn {
  padding: 5px;
  margin-bottom: 0;
}
.input-group.time-input-group .input-group-btn .btn > span {
  margin-left: 0;
}
.td-content a {
  color: #009688;
}
.form-horizontal:not(.tele-activity-form) .form-group .form-control-static {
  font-size: 12px;
  padding-top: 8px;
  margin-top: 16px;
  padding-bottom: 0;
  vertical-align: bottom;
  line-height: 1.07;
  min-height: 20px;
}
.select2-container {
  font-size: 12px;
}
.select2-dropdown {
  font-size: 12px;
}
.select2-results__group {
  font-weight: bold;
  color: #6e6e6e;
}
.select2-results__option {
  padding-left: 1.5em;
}
.select2-container--default .select2-selection.select2-selection--single {
  border: 0;
  border-bottom: 1px solid #aaa;
  border-radius: 0;
}
.reservation-box {
  position: fixed;
  z-index: 30000;
  left: auto;
  top: auto;
  right: 15px;
  bottom: 0;
  transition: bottom 0.5s;
}
.reservation-box .modal-dialog {
  margin: 0;
  color: #fff;
}
.reservation-box .modal-content {
  padding: 10px 20px 0;
  background: rgba(29, 27, 27, 0.9);
  border-radius: 2px;
}
.reservation-box .modal-content .modal-header {
  padding: 0;
}
.reservation-box .modal-content .modal-header .reservation-title {
  color: #ff5722;
}
.reservation-box .modal-content .modal-body {
  padding: 0;
}
.reservation-box .modal-content .modal-body p > em {
  color: #03a9f4;
}
.reservation-box .modal-content .modal-footer {
  padding: 0;
}
.checkbox-inline {
  margin-left: 10px;
  min-width: 120px;
}
