/**
 * zhouzy
 * 功能管理
 * 2017/5/16
 *
 */
/**
 * 基本样式，不包括reset样式
 * 基础组件样式，如panel modal form form-group input-group popout tab等
 */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei Light", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
ol,
ul {
  padding-left: 0;
}
.qn-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.qn-container__header {
  background: #fff;
  position: absolute;
  top: 0;
  z-index: 98;
  height: 55px;
  width: 299px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 55px;
  border-bottom: 1px solid #e2eaec;
}
.qn-container__header .btn {
  font-size: 12px;
  margin-right: 10px;
}
.qn-container__body {
  height: 100%;
  overflow: auto;
  padding-top: 55px;
}
.left-is-closed > .page__left-sidebar {
  -webkit-transform: translateX(-290px);
  -moz-transform: translateX(-290px);
  -ms-transform: translateX(-290px);
  -o-transform: translateX(-290px);
  transform: translateX(-290px);
}
.left-is-closed > .page__left-sidebar .main-contain {
  display: none;
}
.left-is-closed > .page__main {
  left: 10px;
}
.left-is-closed > .page__main #toolbar {
  left: 10px;
}
.left-is-closed > .page__bottom-toolbar {
  left: 10px;
}
.page__left-sidebar {
  width: 300px;
  background: #fff;
  border-right: 1px solid #e2eaec;
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.page__left-sidebar > .toggle-btn-box {
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: -8px;
  margin: auto;
  height: 46px;
}
.page__left-sidebar > .toggle-btn-box .toggle-btn {
  padding: 10px 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.page__left-sidebar > .toggle-btn-box .toggle-btn:hover {
  color: #337ab7;
}
.page__main {
  position: fixed;
  left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.page__main .right-content {
  padding-top: 75px;
  height: 100%;
  overflow: auto;
}
.page__main .right-content .right-content-panel {
  width: 100%;
}
.page__main .table-content .grid {
  padding: 15px 0 5px 0;
  margin-bottom: 50px;
  background: #fff;
  border: solid transparent;
  border-width: 0 15px 0;
  border-radius: 3px;
  overflow: auto;
}
.page__main .table-content .grid table {
  table-layout: auto;
}
.page__main .table-content .grid table td {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  white-space: nowrap;
  color: #374051;
}
.page__main .table-content .grid table thead tr {
  height: 45px;
}
.page__main .table-content .grid table thead tr th {
  font-weight: normal;
}
.page__main .table-content .grid table tbody tr {
  height: 45px;
}
.page__main .table-content .grid table tbody tr:nth-child(even) {
  background: #F5F5F5;
}
.page__main .table-content .grid table tbody tr:hover {
  background: #f9fff9;
}
.page__main #toolbar {
  background: #fff;
  font-size: 14px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  position: fixed;
  bottom: -70px;
  left: 300px;
  right: 0;
  height: 60px;
  z-index: 20000;
  border-top: 1px solid #f2f2f2;
  text-align: right;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.page__main #toolbar.show {
  bottom: 0;
}
.page__main #toolbar .left-btn {
  position: absolute;
  left: 5px;
}
.page__main-header {
  position: absolute;
  top: 0;
  z-index: 98;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #e2eaec;
  width: 100%;
  background: #fff;
  padding: 0 15px;
}
.page__main-title {
  font-size: 16px;
}
.page__main-content {
  padding-top: 70px;
  height: 100%;
  overflow: hidden;
}
.page__bottom-toolbar {
  background: #fff;
  font-size: 14px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  position: fixed;
  bottom: -70px;
  left: 300px;
  right: 0;
  height: 60px;
  z-index: 20000;
  border-top: 1px solid #f2f2f2;
  text-align: right;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.page__bottom-toolbar.show {
  bottom: 0;
}
.page__bottom-toolbar .left-btn {
  position: absolute;
  left: 5px;
}
.qn-nav-bar {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.qn-nav-bar .timeline {
  margin-left: 20px;
}
.qn-nav-bar .timeline .row {
  margin: 0;
}
.qn-nav-bar__header {
  font-size: 12px;
  color: #333;
  font-weight: bolder;
  padding: 15px 0 5px 0;
  margin-bottom: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #e2eaec;
}
.qn-nav-bar__header a {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
  float: right;
}
.qn-nav-bar__header:after {
  content: "";
  clear: both;
}
.qn-nav-bar__list {
  padding-left: 0;
}
.qn-nav-bar__list-item {
  position: relative;
}
.qn-nav-bar__list-item a {
  color: #374051;
  display: block;
  height: 35px;
  line-height: 35px;
  border-left: 3px solid #fff;
  padding-left: 17px;
  padding-right: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.qn-nav-bar__list-item a .num {
  position: absolute;
  right: 8px;
  top: 10px;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  line-height: 1;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  background-color: #ced6d8;
}
.qn-nav-bar__list-item a:hover {
  background: #F9FFF9;
}
.qn-nav-bar__list-item.active a {
  border-left-color: #21d376;
  background: #eff4f5;
}
.qn-nav-bar__list-item.active a .num {
  background: #ff595f;
}
