input {
  outline: none;
}
fieldset,
img {
  border: none;
}
ul,
li,
a {
  margin: 0;
  padding: 0;
  list-style: none;
}
.panel-title {
  position: fixed;
  z-index: 98;
  height: 60px;
  line-height: 50px;
  border-bottom: 1px solid #e2eaec;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  margin: 0;
  padding: 0;
}
.panel-title > .main {
  padding-right: 85px;
  padding-left: 20px;
}
.drop-btn-default {
  position: relative;
  background: #fff;
  outline: none;
}
.drop-btn-default a {
  color: #374051;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ced6d8;
  font-size: 12px;
  padding: 0 36px 0 10px;
  position: relative;
}
.fl {
  display: inline-block;
}
.drop-btn {
  display: block;
  border-radius: 3px;
}
.green {
  color: #21d376;
}
.green.status {
  background: #21d376;
}
.red.status {
  background: #ff595f;
}
.blue.status {
  background: #21b1d3;
}
.orange.status {
  background: #ffbe26;
}
.black.status {
  background: #696969;
}
.status{
  display: inline-block;
  height: 18px;
  line-height: 1px;
  font-size: 12px;
  color: #fff !important;
  border-radius: 3px;
  padding: 10px 5px;
  white-space: nowrap;
}
.dropdown + .drop-box {
  bottom: auto;
  top: 105%;
}
.drop-btn-default .drop-box {
  padding: 5px 0;
}
.drop-box {
  padding: 5px 0;
}
.drop-btn-default > a {
  color: #374051;
  height: 28px;
  line-height: 28px;
  font-size: 15px;
  padding: 0 36px 0 10px;
  position: relative;
}
.drop-btn-default > a :hover {
  border: 1px solid #ced6d8;
}
.drop-btn-default.select > a {
  padding-left: 10px !important;
  padding-right: 25px !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 14px;
}
.drop-box {
  display: none;
  position: absolute;
  left: 0;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  max-width: 280px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 250px;
  padding: 0 0 10px;
  border: 1px solid #ced6d8;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 9999;
}
.drop-btn-default ul:last-of-type {
  border-bottom: none;
  padding-left: 10px;
}
.drop-btn-default ul {
  border-bottom: 1px solid #e2eaec;
}
.drop-btn-default li {
  line-height: 1.5em;
}
.drop-box li > a {
  color: #374051;
  padding: 5px 20px 5px 10px;
  display: block;
}
.drop-btn-default li > a {
  font-size: 14px;
  padding: 5px 10px;
  display: block;
}
.drop-btn-default li > a:hover {
  background-color: #eee;
}
.btn-red.btn-hollow,
.btn.red.btn-hollow {
  color: #f54f55;
}
.btn-red,
.btn.red {
  background: #ff595f;
  border-color: #ff595f;
  color: #fff;
}
.tab-title1 {
  clear: both;
  margin: 0;
}
.tab-title1 li {
  display: inline-block;
  position: relative;
}
.tab-title1 li a {
  color: #374051;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  border: 1px solid transparent;
  border-top: 2px solid transparent;
  position: relative;
  bottom: -1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 2px;
}
.sub-switch-menu {
  padding-bottom: 20px;
  border-bottom: 1px solid #eff4f5;
  margin-bottom: 15px;
}
.sub-switch-menu ul,
.sub-switch-menu li {
  display: inline-block;
}
.sub-switch-menu li {
  margin-right: 6px;
}
.sub-switch-menu li a {
  color: #374051;
  display: block;
  height: 26px;
  line-height: 26px;
  padding: 0 14px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.sub-switch-menu li a:hover {
  color: #21d376;
  background: none;
}
.sub-switch-menu .active > a {
  color: #0dbf62;
  border-color: #21d376;
}
input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: thin dotted \9;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
.form-horizontal ul li {
  margin-bottom: 15px;
  position: relative;
}
.form-horizontal ul li .left {
  width: 85px;
  height: 100%;
  padding-right: 5px;
  display: inline-block;
  position: absolute;
  left: 90px;
  font-size: 15px;
}
.form-horizontal ul li img {
  height: 55px;
  width: 55px;
  border-radius: 100%;
  display: inline-block;
  margin-bottom: 0;
}
.form-horizontal .modal-input {
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ced6d8;
  height: 34px;
  width: 260px;
  padding: 0 15px;
  font-size: 14px;
}
.form-horizontal label {
  display: inline-block;
}
.form-horizontal .right {
  display: inline-block;
  max-width: 357px;
  padding-left: 175px;
}
.form-horizontal p {
  line-height: 1.8em;
  margin-bottom: 5px;
}
.form-horizontal p:last-child {
  margin-bottom: 0;
}
.form-horizontal .alert {
  margin-bottom: 5px;
}
.red {
  color: #ff595f;
}
.form-group .form-control {
  margin: 0;
  padding: 0;
}
.modal-content .modal-content .modal-footer {
  padding-right: 30px;
}
.user .avatar {
  display: inline-block;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  padding: 1px;
  vertical-align: top;
  border: 1px solid transparent;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.user .avatar img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  transition: all .5s ease;
}
.user .avatar:hover {
  border-color: #21d376;
}
.user .avatar:hover img {
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}
.user .user-right {
  display: inline-block;
}
.user .user-right .name,
.user .user-right .privilege {
  display: inline-block;
}
.nav-tabs {
  border-bottom: 1px solid rgba(233, 234, 237, 0);
  background: #EFF4F5;
  margin-bottom: 20px;
}
.nav-tabs li a {
  border-bottom: 2px solid transparent!important;
  background: #ededed;
  color: rgba(0, 0, 0, 0.54) !important;
}
.nav-tabs li a:hover,
.nav-tabs li a:focus {
  color: #262B33!important;
  background: rgba(255, 255, 255, 0.4) !important;
  border-bottom-color: transparent!important;
}
.nav-tabs li .active a {
  background: #fff;
  color: #374051!important;
  border-bottom-color: #00BCD4!important;
}
.field {
  margin-bottom: 30px;
  max-width: 950px;
}
.field h4 {
  font-size: 14px;
  margin-bottom: 10px;
}
.field label {
  color: #333!important;
}
.btn-sm.green {
  color: #21d376;
  border-color: #21d376;
}
.b {
  font-weight: bold;
}
.fl {
  float: left;
}
.fr {
  float: right;
}