/**
 * 自定义字段列表
 */
/**
 * 基本样式，不包括reset样式
 * 基础组件样式，如panel modal form form-group input-group popout tab等
 */
html,
body {
  height: 100%;
  font-family: "Microsoft YaHei Light", "Microsoft YaHei", "微软雅黑", "Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
ol,
ul {
  padding-left: 0;
}
.qn-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.qn-container__header {
  background: #fff;
  position: absolute;
  top: 0;
  z-index: 98;
  height: 55px;
  width: 299px;
  padding-left: 20px;
  font-size: 16px;
  line-height: 55px;
  border-bottom: 1px solid #e2eaec;
}
.qn-container__header .btn {
  font-size: 12px;
  margin-right: 10px;
}
.qn-container__body {
  height: 100%;
  overflow: auto;
  padding-top: 55px;
}
.left-is-closed > .page__left-sidebar {
  -webkit-transform: translateX(-290px);
  -moz-transform: translateX(-290px);
  -ms-transform: translateX(-290px);
  -o-transform: translateX(-290px);
  transform: translateX(-290px);
}
.left-is-closed > .page__left-sidebar .main-contain {
  display: none;
}
.left-is-closed > .page__main {
  left: 10px;
}
.left-is-closed > .page__main #toolbar {
  left: 10px;
}
.left-is-closed > .page__bottom-toolbar {
  left: 10px;
}
.page__left-sidebar {
  width: 300px;
  background: #fff;
  border-right: 1px solid #e2eaec;
  position: fixed;
  z-index: 9;
  top: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.page__left-sidebar > .toggle-btn-box {
  position: absolute;
  z-index: 9;
  top: 0;
  bottom: 0;
  right: -8px;
  margin: auto;
  height: 46px;
}
.page__left-sidebar > .toggle-btn-box .toggle-btn {
  padding: 10px 2px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  cursor: pointer;
}
.page__left-sidebar > .toggle-btn-box .toggle-btn:hover {
  color: #337ab7;
}
.page__main {
  position: fixed;
  left: 300px;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -o-transition: left 0.3s;
  transition: left 0.3s;
}
.page__main .right-content {
  padding-top: 75px;
  height: 100%;
  overflow: auto;
}
.page__main .right-content .right-content-panel {
  width: 100%;
}
.page__main .table-content .grid {
  padding: 15px 0 5px 0;
  margin-bottom: 50px;
  background: #fff;
  border: solid transparent;
  border-width: 0 15px 0;
  border-radius: 3px;
  overflow: auto;
}
.page__main .table-content .grid table {
  table-layout: auto;
}
.page__main .table-content .grid table td {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  white-space: nowrap;
  color: #374051;
}
.page__main .table-content .grid table thead tr {
  height: 45px;
}
.page__main .table-content .grid table thead tr th {
  font-weight: normal;
}
.page__main .table-content .grid table tbody tr {
  height: 45px;
}
.page__main .table-content .grid table tbody tr:nth-child(even) {
  background: #F5F5F5;
}
.page__main .table-content .grid table tbody tr:hover {
  background: #f9fff9;
}
.page__main #toolbar {
  background: #fff;
  font-size: 14px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  position: fixed;
  bottom: -70px;
  left: 300px;
  right: 0;
  height: 60px;
  z-index: 20000;
  border-top: 1px solid #f2f2f2;
  text-align: right;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.page__main #toolbar.show {
  bottom: 0;
}
.page__main #toolbar .left-btn {
  position: absolute;
  left: 5px;
}
.page__main-header {
  position: absolute;
  top: 0;
  z-index: 98;
  height: 55px;
  line-height: 55px;
  border-bottom: 1px solid #e2eaec;
  width: 100%;
  background: #fff;
  padding: 0 15px;
}
.page__main-title {
  font-size: 16px;
}
.page__main-content {
  padding-top: 70px;
  height: 100%;
  overflow: hidden;
}
.page__bottom-toolbar {
  background: #fff;
  font-size: 14px;
  box-shadow: 0 -1px 3px rgba(0, 0, 0, 0.15);
  padding: 0 15px;
  position: fixed;
  bottom: -70px;
  left: 300px;
  right: 0;
  height: 60px;
  z-index: 20000;
  border-top: 1px solid #f2f2f2;
  text-align: right;
  -webkit-transition: all ease 0.4s;
  -moz-transition: all ease 0.4s;
  -o-transition: all ease 0.4s;
  transition: all ease 0.4s;
}
.page__bottom-toolbar.show {
  bottom: 0;
}
.page__bottom-toolbar .left-btn {
  position: absolute;
  left: 5px;
}
.qn-nav-bar {
  list-style: none;
  padding: 0;
  margin-bottom: 15px;
}
.qn-nav-bar .timeline {
  margin-left: 20px;
}
.qn-nav-bar .timeline .row {
  margin: 0;
}
.qn-nav-bar__header {
  font-size: 12px;
  color: #333;
  font-weight: bolder;
  padding: 15px 0 5px 0;
  margin-bottom: 10px;
  margin-left: 20px;
  border-bottom: 1px solid #e2eaec;
}
.qn-nav-bar__header a {
  margin-right: 5px;
  font-size: 12px;
  font-weight: 400;
  float: right;
}
.qn-nav-bar__header:after {
  content: "";
  clear: both;
}
.qn-nav-bar__list {
  padding-left: 0;
}
.qn-nav-bar__list-item {
  position: relative;
}
.qn-nav-bar__list-item a {
  color: #374051;
  display: block;
  height: 35px;
  line-height: 35px;
  border-left: 3px solid #fff;
  padding-left: 17px;
  padding-right: 45px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  position: relative;
}
.qn-nav-bar__list-item a .num {
  position: absolute;
  right: 8px;
  top: 10px;
  min-width: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 3px 7px;
  line-height: 1;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  background-color: #ced6d8;
}
.qn-nav-bar__list-item a:hover {
  background: #F9FFF9;
}
.qn-nav-bar__list-item.active a {
  border-left-color: #21d376;
  background: #eff4f5;
}
.qn-nav-bar__list-item.active a .num {
  background: #ff595f;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ol,
ul {
  list-style: outside none none;
}
.panel {
  padding: 20px;
}
.kf5-section {
  padding-top: 20px;
}
.kf5-list-header {
  margin-bottom: 20px;
  padding-right: 20px;
}
.kf5-list-header::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.kf5-list-header h3 {
  border-left: 3px solid #21d376;
  float: left;
  font-weight: bold;
  line-height: 1em;
  margin-top: 7px;
  padding-left: 10px;
}
.kf5-list-header h3 span {
  font-weight: normal;
}
.kf5-list1 {
  border-bottom: 1px solid #eef0f5;
  padding-bottom: 15px;
}
.kf5-list1 li {
  line-height: 26px;
  padding: 8px 20px;
}
.kf5-list1 li::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.kf5-list1 li:hover {
  background: #eff4f5 none repeat scroll 0 0;
}
.kf5-list1 a {
  color: #0096c4;
}
.kf5-list1 a:hover {
  color: #48b6d7;
}
.kf5-list1 .status {
  display: inline-block;
  font-size: 12px;
  margin: 0 10px;
  padding: 3px 8px;
}
.kf5-list1 .col-md-4 {
  line-height: 26px;
}
.kf5-list1 .btn-sm {
  color: #444;
  margin-left: 10px;
}
.kf5-list1 .btn-sm:hover {
  color: #444;
}
.kf5-list1 .danger {
  color: #ff595f;
}
.kf5-list1 .danger:hover {
  color: #ff595f;
}
.kf5-list1 .success {
  color: #21d376;
}
.kf5-list1 .success:hover {
  color: #21d376;
}
.kf5-list1 .toggle-content {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  clear: both;
  margin-bottom: 20px;
  padding: 10px 20px;
  position: relative;
  top: 15px;
}
.kf5-list1 .toggle-content-item {
  border-bottom: 1px solid #e9eaed;
  margin-bottom: 15px;
}
.kf5-list1 .toggle-content-item:last-child {
  border-bottom: medium none;
  margin-bottom: 0;
}
.kf5-list1 .toggle-content-item h3 {
  font-weight: bold;
  padding-left: 12px;
  position: relative;
}
.kf5-list1 .toggle-content-item h3::before {
  background: #21d376 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  height: 6px;
  left: 0;
  margin-top: -3px;
  position: absolute;
  top: 50%;
  width: 6px;
}
.kf5-list1 .label-email,
.kf5-list1 .label-phone,
.kf5-list1 .label-message {
  border-radius: 100%;
  cursor: default;
  display: inline-block;
  height: 20px;
  line-height: 1;
  margin-left: 10px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
.kf5-list1 .label-email {
  background: #00c8f2 none repeat scroll 0 0;
}
.kf5-list1 .label-email::after {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.kf5-list1 .label-phone {
  background: #9e5ae3 none repeat scroll 0 0;
}
.kf5-list1 .label-phone::after {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.kf5-list1 .label-message {
  background: #ffa900 none repeat scroll 0 0;
}
.kf5-list1 .label-message::after {
  color: #fff;
  font-size: 12px;
  line-height: 20px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.btn-sm {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 12px;
  height: 26px;
  line-height: 26px;
  padding: 0 12px;
  transition: all 0.2s ease 0s;
}
.btn-sm:hover {
  border-color: #d5d6d9;
}
.btn-sm.green {
  border-color: #21d376;
  color: #21d376;
}
.btn-sm.green:hover {
  background: #21d376 none repeat scroll 0 0;
  color: #fff;
}
.btn-sm.disabled {
  background: #eff4f5 none repeat scroll 0 0;
  cursor: not-allowed;
}
.btn-sm.active {
  border-color: #21d376;
}
.btn {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  color: #444;
  display: inline-block;
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  padding: 0 12px;
}
.btn + .btn {
  margin-left: 10px;
}
.btn:hover {
  border: 1px solid #d5d6d9;
}
.btn.disabled {
  background: #eff4f5 none repeat scroll 0 0;
  cursor: not-allowed;
}
.btn:active {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) inset;
}
.btn.active {
  border-color: #21d376;
}
.btn-green {
  background: #21d376 none repeat scroll 0 0;
  border-color: #21d376;
  color: #fff;
}
.btn-green:hover {
  background: #0dbf62 none repeat scroll 0 0;
}
.btn-red {
  background: #ff595f none repeat scroll 0 0;
  border-color: #ff595f;
  color: #fff;
}
.btn-red:hover {
  background: #eb454b none repeat scroll 0 0;
}
.btn-gray {
  background: #ccd0d9 none repeat scroll 0 0;
  border-color: #ccd0d9;
  color: #fff;
}
.btn-gray:hover {
  background: #b8bcc5 none repeat scroll 0 0;
  border-color: #b8bcc5;
}
.btn-group > .btn {
  height: auto;
  line-height: normal;
  border: none;
  background-color: transparent;
}
.kf5-list-header h3 {
  border-left: 3px solid #21d376;
  float: left;
  font-weight: bold;
  line-height: 1em;
  margin-top: 7px;
  padding-left: 10px;
}
.kf5-list-header h3 span {
  font-weight: normal;
}
.field {
  margin-bottom: 20px;
  max-width: 950px;
}
.field:last-child {
  border-bottom: medium none;
}
.field h4 {
  font-size: 14px;
  margin-bottom: 10px;
}
.field h4 span {
  color: #ff595f;
  margin: 0 3px;
}
.field input[type="text"] {
  box-sizing: border-box;
  height: 36px;
  max-width: 100%;
  padding: 0 10px;
  width: 600px;
}
.field input[type="radio"] {
  margin-right: 0;
}
.field select {
  height: 30px;
  margin-right: 5px;
}
.field select:hover {
  border-color: #21d376;
}
.field select + .radio {
  margin-left: 20px;
}
.field textarea {
  box-sizing: border-box;
  display: block;
  height: 150px;
  margin-bottom: 15px;
  margin-top: 5px;
  padding: 10px;
  width: 600px;
}
.field textarea + .hint {
  color: #333;
  font-size: 13px;
  margin-bottom: 20px;
  margin-top: -10px !important;
}
.field textarea + .hint a {
  color: #0096c4;
}
.field textarea + .hint a:hover {
  color: #48b6d7;
}
.field .radio {
  display: inline-block;
  line-height: 30px;
  margin-right: 20px;
}
.field .select-group {
  border-radius: 3px;
  margin-bottom: 5px;
  padding: 5px;
}
.field .select-group::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.field .select-group select + [type="text"] {
  height: 30px;
  width: 100px;
}
.field .select-group:hover {
  background: #eff4f5 none repeat scroll 0 0;
}
.field .select-group .remove {
  background: #ff595f none repeat scroll 0 0;
  border-radius: 100%;
  float: right;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.field .select-group .remove:hover {
  background: #f54f55 none repeat scroll 0 0;
}
.field .select-group .remove::after {
  color: #fff;
  font-size: 16px;
}
.field .add-conditions {
  color: #0096c4;
  margin-left: 5px;
}
.field .add-conditions:hover {
  color: #48b6d7;
}
.field .add-conditions::before {
  position: relative;
  display: inline-block;
  float: left;
  left: 5px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
  line-height: 18px;
  background: #21d376 none repeat scroll 0 0;
  border-radius: 100%;
  font-size: 12px;
  text-align: center;
  color: #fff;
  content: "+";
}
.field .ticket-rule-group label,
.field .checkbox-group label {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 20px;
}
.field .ticket-rule-group input[type="checkbox"],
.field .checkbox-group input[type="checkbox"] {
  margin-right: 3px;
}
.field.t-col {
  border-bottom: 1px solid #eff4f5;
  padding-bottom: 10px;
}
.field.t-col::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.field.t-col h4 {
  float: left;
  line-height: 30px;
  margin-bottom: 0;
  padding-right: 10px;
  width: 20%;
}
.field.t-col h4.ln {
  line-height: 30px;
}
.field.t-col .t-col-content {
  float: right;
  width: 77%;
}
.field.t-col .t-col-content > p {
  line-height: 30px;
  margin-bottom: 10px;
}
.field.t-col .t-col-content > p + .hint {
  margin-top: -10px;
}
.field.t-col .t-col-content > .hint {
  line-height: 1.6em;
  margin-bottom: 15px;
  margin-top: 5px;
}
.field.t-col .t-col-content > .hint a {
  color: #0096c4;
}
.field.t-col .t-col-content > .hint a:hover {
  color: #48b6d7;
}
.field.b-col {
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 10px;
}
.field.b-col::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.field.b-col:hover {
  background: #eff4f5 none repeat scroll 0 0;
}
.field.b-col + hr {
  margin-top: 20px;
}
.field.b-col .col-md-2 input[type="text"] {
  width: 240px;
}
.field.b-col .col-md-2 textarea {
  display: inline-block;
  height: 100px;
  width: 240px;
}
.field.b-col .col-md-2 select {
  margin-right: 0;
}
.field.t-col .t-col-content p + .hint {
  margin-top: -10px;
}
.field-operation {
  height: 34px;
}
.field-operation [type="submit"] {
  background: #21d376 none repeat scroll 0 0;
  border: 1px solid #21d376;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  padding: 0 12px;
}
.field.t-col h4 {
  margin-top: 0;
  float: left;
  line-height: 30px;
  margin-bottom: 0;
  padding-right: 10px;
  width: 20%;
}
.field.t-col h4.ln {
  line-height: 30px;
}
.t-col-content h5 {
  margin-bottom: 5px;
}
.t-col-content input[type="text"],
.t-col-content input[type="number"] {
  box-sizing: border-box;
  height: 30px;
  padding: 0 10px;
  width: 400px;
}
.select-area {
  border: 1px solid #e9eaed;
  border-radius: 3px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 15px;
}
.select-area::after {
  clear: both;
  content: '.';
  display: block;
  height: 0;
  visibility: hidden;
}
.select-area li {
  border-radius: 3px;
  margin-bottom: 10px;
  padding: 5px;
}
.select-area li:hover {
  background: #eff4f5 none repeat scroll 0 0;
}
.select-area li:last-child {
  margin-bottom: 0;
}
.select-area input[type="text"] {
  width: 300px;
}
.select-area .remove {
  background: #ff595f none repeat scroll 0 0;
  border-radius: 100%;
  float: right;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}
.select-area .remove:hover {
  background: #f54f55 none repeat scroll 0 0;
}
.select-area .remove::after {
  color: #fff;
  content: '-';
  font-size: 22px;
}
.select-area .delete {
  color: #0096c4;
  float: right;
  font-size: 14px;
  margin-top: 10px;
}
.select-area .delete:hover {
  color: #48b6d7;
}
.select-area .select-group {
  margin: 0;
  padding: 0;
}
.select-area .add-conditions {
  display: inline-block;
  margin-left: 0;
  margin-top: 10px;
}
.select-area .add-conditions::before {
  margin-right: 10px;
}
.select-area ~ .hint {
  line-height: 1.6em !important;
}
.sample-box {
  background: #eff4f5 none repeat scroll 0 0;
  border: 1px solid #e9eaed;
  border-radius: 3px;
  padding: 20px;
}
.sample-box::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.sample-box .left {
  float: left;
}
.sample-box .hint {
  margin-top: 5px;
}
.sample-box textarea {
  margin-top: 0;
  max-width: 400px;
  width: 100%;
}
.sample-box textarea + .hint {
  margin-bottom: 0;
}
.sample-box .btn-sm {
  float: right;
}
.breadcrumbs {
  font-size: 16px;
  margin: 15px 0 10px 0;
}
.breadcrumbs::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
.breadcrumbs li {
  float: left;
}
.breadcrumbs li::after {
  color: #999;
  content: ">";
  margin: 0 5px;
}
.breadcrumbs li:last-child::after {
  display: none;
}
.breadcrumbs a {
  color: #0096c4;
}
.breadcrumbs a:hover {
  color: #48b6d7;
}
input {
  outline: 0 none;
}
input,
select,
button,
textarea {
  color: #374051;
  outline: medium none;
}
input.has-error,
select.has-error,
button.has-error,
textarea.has-error {
  border-color: #ff595f !important;
}
input.has-change,
select.has-change,
button.has-change,
textarea.has-change {
  border-color: #21d376 !important;
}
input[type="text"],
input[type="search"],
input[type="password"],
textarea,
input[type="number"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #d5d6d9;
  border-radius: 2px;
  outline: medium none;
  transition: all 0.4s ease 0s;
}
input.disabled[type="text"],
input.disabled[type="search"],
input.disabled[type="password"],
textarea.disabled,
input.disabled[type="number"],
input[type="text"][disabled],
input[type="search"][disabled],
input[type="password"][disabled],
textarea[disabled],
input[type="number"][disabled] {
  background: #f5f5f5 none repeat scroll 0 0;
  border-color: #d5d6d9;
  box-shadow: none;
  color: #999;
}
input[type="text"]:hover,
input[type="search"]:hover,
input[type="password"]:hover,
textarea:hover,
input[type="number"]:hover {
  border-color: #c1c2c5;
}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus,
input[type="number"]:focus {
  border-color: #21d376;
  box-shadow: 0 0 3px rgba(33, 211, 118, 0.35);
}
input.modify {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #fff;
  border-radius: 3px;
  transition: all 0.4s ease 0s;
  width: 100%;
}
input.modify:hover {
  background: #fff none repeat scroll 0 0;
  border-color: #ccd0d9;
}
input.modify:focus {
  border-color: #21d376;
  box-shadow: 0 0 3px rgba(33, 211, 118, 0.35);
}
input[type="radio"] {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ccd0d9;
  border-radius: 100%;
  display: inline-block;
  height: 16px;
  margin-right: 3px;
  position: relative;
  top: 3px;
  width: 16px;
}
input[type="radio"]:checked {
  border-color: #21d376 !important;
}
input[type="radio"]:checked::after {
  background: #21d376 none repeat scroll 0 0;
  border-radius: 100%;
  content: "";
  height: 8px;
  left: 50%;
  margin-left: -4px;
  margin-top: -4px;
  position: absolute;
  top: 50%;
  width: 8px;
}
textarea {
  border-radius: 2px;
  outline: medium none;
}
.checkbox label,
.radio label,
label {
  font-size: inherit;
  color: #000;
}
:-moz-placeholder {
  color: #b0b0b0;
}
*::-moz-placeholder {
  color: #b0b0b0;
}
