.status {
  display: inline-block;
  height: 18px;
  line-height: 16px;
  font-size: 12px;
  color: #fff !important;
  border-radius: 3px;
  padding: 1px 5px;
  border: 1px solid #fff;
  white-space: nowrap;
  margin-left: 5px;
}
.panel-wrap {
  overflow-y: auto;
  height: 100%;
}
.panel-wrap h2 {
  font-size: 16px;
  font-weight: normal;
}
.btn-sm {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 3px;
  border: 1px solid #e9eaed;
  color: #374051;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  background: #fff;
  display: inline-block;
}
.whole-screen {
  position: relative;
}
.whole-screen div {
  display: inline-block;
}
.whole-screen select {
  height: 28px;
  border-color: #d5d6d9;
  background: #fff;
}
.whole-screen div.fr {
  position: absolute;
  right: 0;
}
.whole-screen div.fr .file-search {
  display: inline-block;
  position: relative;
}
.whole-screen div.fr .file-search input {
  height: 28px;
  width: 200px;
  border-radius: 40px;
  padding-left: 25px;
  border: 1px solid #d5d6d9;
}
.whole-screen div.fr a {
  display: inline-block;
  margin: 0 0 0 10px;
}
.btn-sm {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  padding: 0 12px;
  border-radius: 3px;
  border: 1px solid #e9eaed;
  color: #374051;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
  background: #fff;
  display: inline-block;
}
.btn-sm.green {
  color: #21d376;
  border-color: #21d376;
}
.btn-sm.red {
  color: #ff595f;
}
.whole-message {
  padding-top: 20px;
}
.table-ui1 {
  width: 100%;
  line-height: 1;
  margin-bottom: 20px;
}
.table-ui1 thead {
  border-bottom: 2px solid #cfd0d3;
}
.table-ui1 thead th {
  padding: 10px 10px;
}
.table-ui1 tbody tr:hover {
  background: #effcff;
}
.table-ui1 .table-col-1 {
  width: 50%;
}
.table-ui1 .table-col-2 {
  width: 30%;
}
.table-ui1 .table-col-3 {
  width: 20%;
}
.table-ui1 .ar {
  text-align: right;
}
.table-ui1 .delete-all {
  float: right;
}
.table-ui1 tbody td {
  border-bottom: 1px solid #cfd0d3;
  padding: 15px 10px;
  line-height: 1.5em;
}
.table-ui1 .file {
  float: left;
  margin-right: 10px;
  height: 35px;
  line-height: 35px;
  width: 35px;
  text-align: center;
  border-radius: 100%;
  color: #fff;
}
.table-ui1 .file-name {
  margin-bottom: 8px;
}
.table-ui1 .file-name span {
  font-size: 12px;
  color: #999;
}
.table-ui1 a {
  color: #0096c4;
}
.table-ui1 .file-name + p {
  font-size: 12px;
  color: #999;
}
.table-ui1 .file-name + p a {
  margin-left: 5px;
}
.table-ui1 .author {
  margin-bottom: 8px;
}
.table-ui1 time {
  font-size: 12px;
  color: #999;
}
.table-ui1 .btn-sm {
  float: left;
  margin-right: 10px;
  color: #374051;
}
.modal-content .modal-body {
  padding: 20px;
  margin-top: 20px;
  border-top: 1px solid #ced6d8;
  text-align: center;
}
.whole-message .table-ui1 tfoot tr td {
  position: relative;
}
#preview .modal-content .modal-body img {
  max-width: 600px;
}
.left-part-list li a:hover {
  background: #eff4f5 none repeat scroll 0 0;
}
