* {
  box-sizing: border-box;
}
@font-face {
  font-family: 'webfont';
  src: url('../font/siyuanheiti/webfont.eot');
  src: url('../font/siyuanheiti/webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../font/siyuanheiti/webfont.woff') format('woff'), /* chrome、firefox */ url('../font/siyuanheiti/webfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../font/siyuanheiti/webfont.svg#webfont') format('svg');
  
  /* IE9*/
  /* iOS 4.1- */
}
.web-font {
  font-family: "webfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
.top-bar {
  position: fixed;
  height: 65px;
  line-height: 65px;
  padding-left: 5px;
  z-index: 20000;
  padding-top: 10px;
}
.top-bar .logo {
  height: 45px;
}
.swapper-container {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
.swapper-container .content {
  height: 100%;
  width: 100%;
  background-size: cover;
  font-size: 0;
  position: absolute;
  transition: all 1s;
}
.swapper-container .content .left-part,
.swapper-container .content .right-part {
  width: 50%;
  height: 100%;
  padding-top: 10%;
  display: inline-block;
  vertical-align: top;
}
.swapper-container .content .part-body {
  vertical-align: top;
  margin-top: 28px;
  font-size: 26px;
  line-height: 70px;
  font-family: "webfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.swapper-container .content .part-footer {
  margin-top: 38px;
  vertical-align: top;
}
.swapper-container #cphoneBox {
  background-image: url('../images/welcome/1.png');
  left: 0;
}
.swapper-container #cphoneBox .left-part {
  padding-left: 14%;
  padding-right: 10%;
}
.swapper-container #appBox {
  left: 100%;
  background-image: url('../images/welcome/2.png');
}
.swapper-container #appBox .right-part {
  padding-left: 8%;
  padding-right: 10%;
}
.swapper-container #appBox .qrcode-img {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 160px;
  height: 160px;
}
.swapper-container .swapper-btns {
  position: fixed;
  height: 40px;
  line-height: 40px;
  text-align: center;
  bottom: 0;
  left: 0;
  right: 0;
}
.swapper-container .swapper-btns .swapper-btn {
  display: inline-block;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 5px;
  background: #BBB;
  box-shadow: 0 0 2px #BBB;
}
.swapper-container .swapper-btns .swapper-btn.active {
  background: #00deef;
}
.swapper-container .response-img {
  height: 0;
  width: 80%;
  padding-top: 80%;
  position: relative;
  top: -50px;
}
.swapper-container .response-img img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.btn {
  display: inline-block;
  width: 160px;
  height: 50px;
  padding: 16px 5px 16px 34px;
  background: #00c1d8;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  position: relative;
  text-align: center;
  margin-right: 10px;
  vertical-align: top;
}
.btn img {
  position: absolute;
  width: 26px;
  height: 26px;
  left: 5px;
  top: 12px;
}
#appBox .btn {
  background: #004350;
}
@media (max-width: 1024px) {
  .swapper-container .content .part-body {
    font-size: 20px;
  }
  .swapper-container #cphoneBox .left-part {
    padding-left: 5%;
    padding-right: 5%;
  }
  .swapper-container #appBox .right-part {
    padding-left: 5%;
    padding-right: 5%;
  }
}
